.button{
    color:rgb(102, 34, 180);
    padding: 20px;
    margin: 10px;
    min-width: 300px;
    background-color: rgb(234, 220, 250);
    border-color: rgb(102, 34, 180);
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}

.button:hover{
    background-color:rgb(129, 68, 199);
    border-color: rgb(216, 199, 236);
    color: rgb(216, 199, 236);
    
}