body{
  min-height: 100vh;
}

.custom-size{
  max-width:1300px;
  width: 90vw;
  min-height:90vh;
}

.houses-buttons-box{
  max-width: 95vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.custom-button{
  font-family: inherit !important;
  font-size: inherit !important;
  margin: 5px;
  width: 130px;
}

.sly{
  background:linear-gradient(70deg, rgba(170,170,170,1) 25%, rgba(42,98,61,1) 50%);
  color: rgb(2, 37, 33);
  font-family: 'Jim Nightshade', cursive;
  font-size: x-large;
}

.sly .custom-button{
  font-size: large !important;
  background:linear-gradient(70deg, rgba(170,170,170,1) 5%, rgba(42,98,61,1) 40%);
  color:white;
  font-weight: 200;
  border-color: black;
}

.sly .question-card{
  font-size: large !important;
  background:linear-gradient(70deg, rgba(170,170,170,1) 1%, rgba(42,98,61,1) 10%, rgba(42,98,61,1) 80%, rgba(170,170,170,1) 95%);
  color:white;
  font-weight: 200;
  border-color: black;
  font-size: x-large !important; 
}

.sly .individual-question-card{
  font-size: large !important;
  background:linear-gradient(70deg, rgba(170,170,170,1) 1%, rgba(42,98,61,1) 10%, rgba(42,98,61,1) 80%, rgba(170,170,170,1) 95%);
  color:white;
  font-weight: 200;
  border-color: black;
  font-size: x-large !important; 
}

.gry{
  background:linear-gradient(70deg, rgba(238,186,48,1) 25%, rgba(174,0,1,1) 50%);
  color: rgb(43, 4, 4);
  font-family: 'Jim Nightshade', cursive;
  font-size: x-large;
}

.gry .custom-button{
  font-size: large !important;
  background:linear-gradient(70deg, rgba(238,186,48,1) 5%, rgba(174,0,1,1)  40%);
  color:white;
  font-weight: 200;
  border-color: black;
}

.gry .question-card{
  font-size: large !important;
  background:linear-gradient(70deg, rgba(238,186,48,1) 1%, rgba(174,0,1,1)  10%, rgba(174,0,1,1)  80%, rgba(238,186,48,1) 95%);
  color:white;
  font-weight: 200;
  border-color: black;
  font-size: x-large !important; 
}

.gry .individual-question-card{
  font-size: large !important;
  background:linear-gradient(70deg, rgba(238,186,48,1) 1%, rgba(174,0,1,1)  10%, rgba(174,0,1,1)  80%, rgba(238,186,48,1) 95%);
  color:white;
  font-weight: 200;
  border-color: black;
  font-size: x-large !important; 
}

.huf{
  background:linear-gradient(70deg, rgba(0,0,0,1) 15%, rgba(255,237,134,1) 50%);
  color: black;
  font-family: 'Jim Nightshade', cursive;
  font-size: x-large;
}

.huf .custom-button{
  font-size: large !important;
  background:linear-gradient(70deg, rgba(0,0,0,1) 5%, rgba(255,237,134,1) 40%);
  color:black;
  font-weight: 200;
  border-color: black;
}

.huf .question-card{
  font-size: large !important;
  background:linear-gradient(70deg, rgba(0,0,0,1) 1%, rgba(255,237,134,1) 10%, rgba(255,237,134,1)  80%, rgba(0,0,0,1) 95%);
  color:black;
  font-weight: 200;
  border-color: black;
  font-size: x-large !important; 
}

.huf .individual-question-card{
  font-size: large !important;
  background:linear-gradient(70deg, rgba(0,0,0,1) 1%, rgba(255,237,134,1) 10%, rgba(255,237,134,1)  80%, rgba(0,0,0,1) 95%);
  color:black;
  font-weight: 200;
  border-color: black;
  font-size: x-large !important; 
}

.rav{
  background:linear-gradient(70deg, rgba(148,107,45,1) 25%, rgba(34,47,91,1) 50%);
  color: white;
  font-family: 'Jim Nightshade', cursive;
  font-size: x-large;
}

.rav .custom-button{
  font-size: large !important;
  background:linear-gradient(70deg, rgba(148,107,45,1) 5%, rgba(34,47,91,1) 40%);
  color:white;
  font-weight: 200;
  border-color: black;
}

.rav .question-card{
  font-size: large !important;
  background:linear-gradient(70deg, rgba(148,107,45,1) 1%, rgba(34,47,91,1) 10%, rgba(34,47,91,1)  80%, rgba(148,107,45,1) 95%);
  color:white;
  font-weight: 200;
  border-color: black;
  font-size: x-large !important; 
}

.rav .individual-question-card{
  font-size: large !important;
  background:linear-gradient(70deg, rgba(148,107,45,1) 1%, rgba(34,47,91,1) 10%, rgba(34,47,91,1)  80%, rgba(148,107,45,1) 95%);
  color:white;
  font-weight: 200;
  border-color: black;
  font-size: x-large !important; 
}


.title-quiz{
  font-size: 40px;
  margin-bottom: 2vh;
}
